################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/SQLiteClient/SQLiteClient/obj
/SQLiteClient/SQLiteClient/bin
