################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/SQLiteClient/SQLiteClient/obj/Debug
/SQLiteClient/SQLiteClient/bin/Debug
/SQLiteClient/SQLiteClient/bin/Debug
/SQLiteClient/SQLiteClient/obj/Debug
